<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>添加商品属性</h1>
    <!--<h1 th:text="${flbh2}"></h1>-->
<form action="add_attr" method="post">
    <table border="1" width="800px">
        <tr> <td>属性名：<input type="text"></td><td></td><td>添加属性值</td></tr>
        <tr> <td>属性值：<input type="text"></td><td><input type="text">单位</td><td>删除</td></tr>
        <tr> <td>属性值：<input type="text"></td><td><input type="text">单位</td><td>删除</td></tr>
    </table>
    <table border="1" width="800px">
        <tr> <td>属性名：<input type="text"></td><td></td><td>添加属性值</td></tr>
        <tr> <td>属性值：<input type="text"></td><td><input type="text">单位</td><td>删除</td></tr>
        <tr> <td>属性值：<input type="text"></td><td><input type="text">单位</td><td>删除</td></tr>
    </table>

    添加：<input type="submit" value="提交">
</form>

</body>
</html>